.site-header {
    padding: 56px 0 120px;
}
.header {
    @include display($items: start,)
}
.header__demo {
    @include display($space: start);
    margin-bottom: 48px;
}
.header__demo-inner{
    width: 227px;
    margin-left: 64px;
}
.header__demo-text {
    @include textStyle()
}
.header__navbar-list {
    @include display($space: start);
    gap: 48px;
}
.header__navbar-link {
    transition: color 0,4s linear;
    @include textStyle($color: #000 , $fontSize: 16px, $fontWeight: 700);
    letter-spacing: 0.48px;
    &:hover{
        @include textStyle($color: #273895 , $fontSize: 16px, $fontWeight: 700)
    }
}
.header__contact {
    @include display($space: start);
    gap: 36px;
}
.header__phone {
    transition: color 0.4s linear;
    @include textStyle($fontSize:16px, $fontWeight:700, $lineHeight:18px );
    &:hover{
        color: #273895;
    }
}
.header__link {
    transition: opacity 0.4s linear;
   @include link();
   &:hover{
    opacity: 0.8;
   }
}
.hamburger-btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background-color: #DEE6EF;
    @include display($space: center);
    display: none;
}
.mobile-btn{
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 7px;
    background: linear-gradient(326deg, #2641D1 11.53%, #3333A3 74.32%);
    @include display($space: center);
    display: none;
}

@media (max-width: 947px){
    .header__navbar-list{
        gap: 30px;
    }
}
@media (max-width: 845px){
    .header__navbar{
        display: none;
    }
    .header__demo{
        margin-bottom: 0;
    }
    .header__demo-inner{
        display: none;
    }
    .hamburger-btn{
        display: block;
    }
}
@media (max-width: 680px){
    .site-header{
        padding: 22px 0 48px;
    }
    .header__phone, .header__link{
        display: none;
    }
    .mobile-btn{
        display: block;
    }
    .header__contact{
        gap: 8px;
    }
    .header__logo-img{
        width: 125px;
        height: 45px;
    }
}